@media (min-width: 200px) {
  .guowuche .c-tr {
    width: 100%;
    height: auto;
    background: #fff;
    padding-bottom: 80px;
  }
  .guowuche .c-tr .na-l {
    height: 120px;
  }
  .guowuche .c-tr .na-l .img2 {
    width: 170px;
    height: 99px;
    float: left;
    margin-left: 26px;
    margin-top: 20px;
  }
  .guowuche .c-tr .na-l .ss-k {
    width: 539px;
    height: 45px;
    float: left;
    margin-left: 94px;
    border: 1px solid #0086ef;
    margin-top: 33px;
  }
  .guowuche .c-tr .na-l .ss-k .sak {
    width: 80px;
    height: 120px;
    float: left;
    position: relative;
  }
  .guowuche .c-tr .na-l .ss-k span {
    text-align: center;
    display: block;
    float: left;
    width: 80px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #999999;
    padding-left: 15px;
    cursor: pointer;
  }
  .guowuche .c-tr .na-l .ss-k span l {
    line-height: 40px;
    float: left;
  }
  .guowuche .c-tr .na-l .ss-k span b {
    width: 0;
    height: 0;
    border: 5px solid #CFF;
    float: left;
    border-color: #999 transparent gray;
    border-bottom: none;
    display: inline-block;
    margin-top: 18px;
    transition: transform 0.3s;
    margin-left: 8px;
  }
  .guowuche .c-tr .na-l .ss-k span b.hover {
    border-color: #999 transparent gray;
    border-bottom: none;
    transform: rotate(180deg);
  }
  .guowuche .c-tr .na-l .ss-k .sskx {
    display: none;
    width: 88px;
    height: 100px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 40px;
  }
  .guowuche .c-tr .na-l .ss-k .sskx l {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
  }
  .guowuche .c-tr .na-l .ss-k .sskx l:hover {
    cursor: pointer;
    background: #f5f5f5;
  }
  .guowuche .c-tr .na-l .ss-k .hove {
    background: #f5f5f5;
  }
  .guowuche .c-tr .na-l .ss-k input {
    float: left;
    width: 440px;
    margin-left: 5px;
    outline: none;
    height: 22px;
    text-indent: 3px;
    border: none;
    border-left: 2px solid #dddddd;
    margin-top: 10px;
  }
  .guowuche .c-tr .na-l .sc-an {
    width: 69px;
    height: 45px;
    float: left;
    background: #0278f1;
    margin-top: 33px;
  }
  .guowuche .c-tr .na-l .sc-an img {
    display: inline-block;
    margin-left: 17px;
    margin-top: 10px;
  }
  .guowuche .c-tr .sp-lb {
    width: 100%;
    height: 35px;
    margin-top: 28px;
    line-height: 35px;
    color: black;
  }
  .guowuche .c-tr .sp-lb .sma {
    float: left;
  }
  .guowuche .c-tr .sp-lb .sma span {
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  .guowuche .c-tr .sp-lb .sma shu {
    font-size: 18px;
    font-weight: bold;
  }
  .guowuche .c-tr .sp-lb bnt {
    display: inline-block;
    float: right;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #4486ff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: #fff;
    margin-top: 3px;
  }
  .guowuche .c-tr .mw {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    margin-top: 10px;
    line-height: 40px;
    color: #666666;
  }
  .guowuche .c-tr .mw .pagt {
    width: 100px;
    height: 40px;
    float: left;
    padding-left: 10px;
  }
  .guowuche .c-tr .mw .pagt h {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid #DEDEDE;
  }
  .guowuche .c-tr .mw .pagt span {
    font-size: 12px;
    margin-left: 10px;
  }
  .guowuche .c-tr .mw li {
    display: inline-block;
    margin-left: 170px;
  }
  .guowuche .c-tr .wup {
    width: 100%;
    height: auto;
    border: 1px solid #DEDEDE;
    margin-top: 10px;
    border-bottom: none;
  }
  .guowuche .c-tr .wup h {
    display: block;
    width: 12px;
    height: 12px;
    background: #fff;
    float: left;
    margin-top: 12px;
    border: 1px solid #DEDEDE;
  }
  .guowuche .c-tr .wup .dib {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    line-height: 40px;
    color: #666666;
    border-bottom: 1px solid #DEDEDE;
  }
  .guowuche .c-tr .wup .dib .pagt {
    width: 100px;
    height: 40px;
    float: left;
    padding-left: 10px;
  }
  .guowuche .c-tr .wup .dib .pagt span {
    font-size: 12px;
    margin-left: 10px;
  }
  .guowuche .c-tr .wup .dib samp {
    font-size: 12px;
    color: #666666;
    margin-left: 30px;
  }
  .guowuche .c-tr .wup .dib .r-bo {
    height: 40px;
    float: right;
    font-size: 12px;
  }
  .guowuche .c-tr .wup .dib .r-bo lp {
    letter-spacing: 1px;
    float: left;
  }
  .guowuche .c-tr .wup .dib .r-bo lp mk,
  .guowuche .c-tr .wup .dib .r-bo lp ja {
    color: #FF0000;
  }
  .guowuche .c-tr .wup .dib .r-bo lp ja {
    font-size: 18px;
  }
  .guowuche .c-tr .wup .dib .r-bo que {
    display: inline-block;
    width: 96px;
    height: 32px;
    text-align: center;
    line-height: 32PX;
    float: right;
    border-radius: 4px;
    background: #006CFF;
    color: #fff;
    margin: 3px;
    margin-left: 20px;
  }
  .guowuche .c-tr .wup .wp-box {
    width: 100%;
    height: auto;
  }
  .guowuche .c-tr .wup .wp-box had {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #DEDEDE;
    line-height: 40px;
    padding-left: 10px;
  }
  .guowuche .c-tr .wup .wp-box had span {
    margin-left: 10px;
    font-size: 12px;
    color: black;
  }
  .guowuche .c-tr .wup .wp-box .wupin {
    display: block;
    width: 100%;
    height: 160px;
    padding-left: 10px;
    border-bottom: 1px solid #DEDEDE;
  }
  .guowuche .c-tr .wup .wp-box .wupin .img {
    float: left;
    width: 130px;
    height: 130px;
    border: 1px solid #DEDEDE;
    margin: 10px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .wenzi {
    width: 160px;
    height: 100px;
    float: left;
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    margin-left: 30px;
    color: #666666;
  }
  .guowuche .c-tr .wup .wp-box .wupin span {
    display: inline-block;
    margin-left: 100px;
    float: left;
    margin-top: 10px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a {
    background: #f2f2f2;
    float: left;
    line-height: 30px;
    display: inline-block;
    margin-left: 110px;
    margin-top: 10px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a wq {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 30px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a shul {
    width: 60px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    float: left;
    display: inline-block;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a wj {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 25px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .cz {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .cz sp {
    display: block;
    color: #ff0000;
  }
  .guowuche .c-tr .wup .wp-box .wupin .cz sc {
    display: block;
    color: #006CFF;
  }
}
/*# sourceMappingURL=gouwuche.css.map */
