.sclb .c-tr {
  width: 100%;
  height: auto;
  margin: auto;
  background: #fff;
}
.sclb .c-tr .na-l {
  height: 162px;
}
.sclb .c-tr .na-l .img2 {
  width: 170px;
  height: 99px;
  float: left;
  margin-left: 26px;
  margin-top: 20px;
}
.sclb .c-tr .na-l .ss-k {
  width: 539px;
  height: 45px;
  float: left;
  margin-left: 64px;
  border: 1px solid #0086ef;
  margin-top: 33px;
}
.sclb .c-tr .na-l .ss-k .sak {
  width: 80px;
  height: 120px;
  float: left;
  position: relative;
}
.sclb .c-tr .na-l .ss-k span {
  text-align: center;
  display: block;
  float: left;
  width: 80px;
  height: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #999999;
  padding-left: 15px;
  cursor: pointer;
}
.sclb .c-tr .na-l .ss-k span l {
  line-height: 40px;
  float: left;
}
.sclb .c-tr .na-l .ss-k span b {
  width: 0;
  height: 0;
  border: 5px solid #CFF;
  float: left;
  border-color: #999 transparent gray;
  border-bottom: none;
  display: inline-block;
  margin-top: 18px;
  transition: transform 0.3s;
  margin-left: 8px;
}
.sclb .c-tr .na-l .ss-k span b.hover {
  border-color: #999 transparent gray;
  border-bottom: none;
  transform: rotate(180deg);
}
.sclb .c-tr .na-l .ss-k .sskx {
  display: none;
  width: 88px;
  height: 100px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 40px;
}
.sclb .c-tr .na-l .ss-k .sskx l {
  display: inline-block;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  float: left;
}
.sclb .c-tr .na-l .ss-k .sskx l:hover {
  cursor: pointer;
  background: #f5f5f5;
}
.sclb .c-tr .na-l .ss-k .hove {
  background: #f5f5f5;
}
.sclb .c-tr .na-l .ss-k input {
  float: left;
  width: 440px;
  margin-left: 5px;
  outline: none;
  height: 22px;
  text-indent: 3px;
  border: none;
  border-left: 2px solid #dddddd;
  margin-top: 10px;
}
.sclb .c-tr .na-l .sc-an {
  width: 69px;
  height: 45px;
  float: left;
  background: #0278f1;
  margin-top: 33px;
}
.sclb .c-tr .na-l .sc-an img {
  display: inline-block;
  margin-left: 17px;
  margin-top: 10px;
}
.sclb .c-tr .na-l .ks-cg {
  text-align: center;
  line-height: 45px;
  width: 166px;
  height: 45px;
  float: right;
  background: #fff;
  margin-top: 33px;
  color: #004eb9;
  font-size: 15px;
  border: 1px solid #dcdcdc;
  z-index: 0;
}
.sclb .c-tr .na-l .sp-lb {
  width: 100%;
  height: 35px;
  float: left;
  margin-top: 8px;
  background: #004eb9;
}
.sclb .c-tr .na-l .sp-lb .sp-aa {
  width: 191px;
  height: 35px;
  float: left;
  text-align: center;
  background: #006cff;
  line-height: 35px;
  color: #fff;
}
.sclb .c-tr .na-l .sp-lb .sp-aa span {
  margin-left: 15px;
}
.sclb .c-tr .na-l .sp-lb .sp-aa img {
  margin-left: 35px;
}
.sclb .c-tr .na-l .sp-lb .ol {
  width: 786px;
  height: 35px;
  line-height: 35px;
  float: left;
  list-style: none;
  margin-left: 28px;
}
.sclb .c-tr .na-l .sp-lb .ol li {
  margin-left: 45px;
  color: #fff;
  float: left;
}
.sclb .c-tr .lb-z-a {
  width: 100%;
  height: auto;
}
.sclb .c-tr .lb-z-a span {
  font-size: 14px;
  line-height: 40px;
  color: #666666;
}
.sclb .c-tr .lb-z-a span na {
  color: #000000;
}
.sclb .c-tr .lb-z-a .lb-z-j {
  width: 100%;
  height: auto;
  border: 1px solid #ebebeb;
  border-bottom: none;
}
.sclb .c-tr .lb-z-a .lb-z-j .lb-z-dh {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #DEDEDE;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}
.sclb .c-tr .lb-z-a .lb-z-j .lb-z-dh k {
  width: 75px;
  float: left;
  color: #666666;
}
.sclb .c-tr .lb-z-a .lb-z-j .lb-z-dh .lb-z-sp {
  width: 950px;
  float: left;
}
.sclb .c-tr .lb-z-a .lb-z-j .lb-z-dh .lb-z-sp li {
  float: left;
  list-style: none;
  margin-left: 36px;
}
.sclb .c-tr .lb-z-a .lb-z-j .lb-z-dh .lb-z-bnt {
  width: 130px;
  float: right;
  height: 30px;
  margin-top: 4px;
}
.sclb .c-tr .lb-z-a .lb-z-j .lb-z-dh .lb-z-bnt .lb-z-k1 {
  width: 60px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  border: 1px solid #DEDEDE;
  background: #fff;
}
.sclb .c-tr .lb-z-a .lb-z-j .lb-z-dh .lb-z-bnt .lb-z-k2 {
  width: 60px;
  height: 30px;
  float: right;
  text-align: center;
  line-height: 30px;
  border: 1px solid #DEDEDE;
  background: #fff;
}
.sclb .c-tr .lb-z-h {
  width: 100%;
  height: 42px;
  border: 1px solid #DEDEDE;
  margin-top: 15px;
}
.sclb .c-tr .lb-z-h .lb-z-aw {
  width: 650px;
  height: 40px;
  float: left;
  font-size: 14px;
}
.sclb .c-tr .lb-z-h .lb-z-aw span {
  display: block;
  float: left;
  width: 60px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background: #006cff;
  color: #fff;
  border-right: 1px solid #EBEBEB;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-jg {
  width: 60px;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 40px;
  background: #fff;
  color: black;
  border-right: 1px solid #EBEBEB;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-jq {
  width: 160px;
  float: left;
  line-height: 40px;
  background: #fff;
  font-size: 10px;
  color: #EBEBEB;
  border-right: 1px solid #EBEBEB;
  padding: 7.5px;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-jq .lb-zd {
  display: block;
  width: 60px;
  outline: none;
  height: 25px;
  float: left;
  text-align: center;
  line-height: 25px;
  border: 1px solid #EBEBEB;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-jq .lb-zg {
  display: block;
  width: 60px;
  outline: none;
  float: right;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border: 1px solid #EBEBEB;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-sz {
  width: 90px;
  float: left;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border-right: 1px solid #EBEBEB;
  color: #666666;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-zx {
  width: 188px;
  line-height: 40px;
  float: left;
  border-right: 1px solid #EBEBEB;
  background: #fff;
  padding: 10px;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-zx .lb-z-zx {
  height: 20px;
  color: #808080;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  float: left;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-zx .lb-z-zx af {
  display: block;
  width: 12px;
  height: 12px;
  float: left;
  background: url(../../images/形状.png) no-repeat;
  background-position-x: 0px 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-zx .lb-z-zx samp {
  float: right;
  font-size: 12px;
  margin-left: 3px;
  line-height: 20px;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-zx .lb-z-rz {
  height: 20px;
  float: right;
  color: #2679ff;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-zx .lb-z-rz af {
  display: block;
  width: 12px;
  height: 12px;
  float: left;
  background: url(../../images/形状.png) no-repeat;
  background-position-x: 0px 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.sclb .c-tr .lb-z-h .lb-z-aw .lb-zx .lb-z-rz samp {
  float: right;
  font-size: 12px;
  margin-left: 3px;
  line-height: 20px;
}
.sclb .c-tr .lb-z-h .lb-z-q {
  width: 290px;
  height: 40px;
  float: right;
}
.sclb .c-tr .lb-z-h .lb-z-q .lb-z-lb {
  width: 60px;
  line-height: 40px;
  float: left;
  text-align: center;
  background: #fff;
  border-left: 1px solid #EBEBEB;
  color: #666666;
}
.sclb .c-tr .lb-z-h .lb-z-q .lb-z-dt {
  width: 60px;
  line-height: 40px;
  float: left;
  text-align: center;
  background: #fff;
  border-left: 1px solid #EBEBEB;
  color: #006CFF;
}
.sclb .c-tr .lb-z-h .lb-z-q .lb-z-hb {
  width: 80px;
  line-height: 40px;
  float: left;
  text-align: center;
  background: #fff;
  border-left: 1px solid #EBEBEB;
  color: #666666;
}
.sclb .c-tr .lb-z-h .lb-z-q .lb-z-ys {
  width: 90px;
  line-height: 40px;
  float: left;
  text-align: center;
  background: #fff;
  letter-spacing: 1px;
  border-left: 1px solid #EBEBEB;
  color: #666666;
}
.sclb .c-tr .lb-z-h .lb-z-q .lb-z-ys n {
  color: #a3a3a3;
}
.sclb .c-tr .lb-z-h .lb-z-q .lb-z-ys n l {
  color: black;
}
.sclb .c-tr .lb-z-h .lb-z-q .lb-z-ys x {
  margin-left: 8px;
}
.sclb .c-tr .clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.sclb .c-tr .clearfloat {
  zoom: 1;
}
.sclb .c-tr .lb-z-wp {
  width: 100%;
  height: auto;
  margin-top: 23px;
}
.sclb .c-tr .lb-z-wp .lb-z-lw {
  width: 144px;
  display: inline-block;
  height: auto;
  border: 1px solid #DEDEDE;
}
.sclb .c-tr .lb-z-wp .lb-z-lw .lb-z-sd {
  width: 100%;
  height: 220px;
  background: #fff;
  border: 1px solid transparent;
}
.sclb .c-tr .lb-z-wp .lb-z-lw .lb-z-sd .lb-z-img {
  width: 138px;
  height: 138px;
}
.sclb .c-tr .lb-z-wp .lb-z-lw .lb-z-sd .lb-z-img img {
  width: 100%;
  height: 100%;
  display: block;
}
.sclb .c-tr .lb-z-wp .lb-z-lw .lb-z-sd .lb-z-m {
  width: 140px;
  padding-right: 10px;
  padding-left: 10px;
}
.sclb .c-tr .lb-z-wp .lb-z-lw .lb-z-sd .lb-z-m ad {
  font-size: 16px;
  color: #FF0000;
}
.sclb .c-tr .lb-z-wp .lb-z-lw .lb-z-sd .lb-z-m .lb-z-hot {
  width: 15px;
  height: 17px;
  float: right;
}
.sclb .c-tr .lb-z-wp .lb-z-lw .lb-z-sd .lb-z-m .lb-za-w {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  color: #666666;
  overflow: hidden;
}
.sclb .c-tr .lb-z-wp .lb-z-lw .lb-z-sd:hover {
  cursor: pointer;
  border: 1px solid #006CFF;
}
.sclb .c-tr .lb-z-wp .lb-z-rw {
  width: 1046px;
  height: auto;
  float: right;
  overflow: hidden;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd {
  width: 252px;
  height: 440px;
  float: left;
  background: #fff;
  border: 1px solid #DEDEDE;
  margin-left: 9.2px;
  margin-bottom: 6px;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-img {
  width: 250px;
  height: 250px;
  border-bottom: 1px solid #DEDEDE;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-img img {
  width: 100%;
  height: 100%;
  display: block;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-m {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 6px;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-m ad {
  font-size: 22px;
  color: #FF0000;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-m .lb-z-hot {
  width: 15px;
  height: 17px;
  float: right;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-m .lb-za-w {
  margin-top: 6px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  color: #666666;
  overflow: hidden;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-m .lb-z-gm {
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  color: #006CFF;
  border: 1px solid #DEDEDE;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-ko {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #DEDEDE;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-ko m {
  font-size: 12px;
  color: #DEDEDE;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-ko .lb-z-hk {
  height: 30px;
  float: right;
  line-height: 30px;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-ko .lb-z-hk xs {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: green;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-ko .lb-z-hk qr {
  display: inline-block;
  width: 14px;
  height: 16px;
  margin-left: 8px;
  margin-right: 5px;
  background: green;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-ko .lb-z-hk ns {
  font-size: 13px;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-kq {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-kq m {
  font-size: 12px;
  color: #DEDEDE;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-kq .lb-z-hk {
  height: 35px;
  float: right;
  line-height: 35px;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-kq .lb-z-hk xs {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: green;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd .lb-z-kq .lb-z-hk qr {
  display: inline-block;
  width: 14px;
  height: 16px;
  margin-left: 8px;
  margin-right: 5px;
  background: green;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd:hover {
  cursor: pointer;
  border: 1px solid #006CFF;
}
.sclb .c-tr .lb-z-wp .lb-z-rw .lb-z-sd:hover .lb-z-gm {
  background: #006CFF;
  color: #fff;
  cursor: pointer;
}
.sclb .lb-z-feny {
  width: 700px;
  height: 40px;
  background: #fff;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.sclb .lb-z-feny .lb-z-syy {
  text-align: center;
  line-height: 40px;
  width: 80px;
  float: left;
  height: 100%;
  border: 1px solid #DEDEDE;
  font-size: 14px;
  color: #EBEBEB;
}
.sclb .lb-z-feny .lb-z-ui {
  float: left;
  margin-left: 5px;
  font-size: 14px;
  border: 1px solid #DEDEDE;
  color: #000000;
  border-right: none;
}
.sclb .lb-z-feny .lb-z-ui li {
  text-align: center;
  line-height: 40px;
  float: left;
  list-style: none;
  width: 40px;
  height: 40px;
  border-right: 1px solid #DEDEDE;
}
.sclb .lb-z-feny .lb-z-ui li:hover {
  background: #006CFF;
  color: #fff;
  cursor: pointer;
}
.sclb .lb-z-feny .lb-dot {
  text-align: center;
  float: left;
  width: 24px;
  line-height: 40px;
  cursor: default;
}
.sclb .lb-z-feny .lb-z-xyy {
  text-align: center;
  line-height: 40px;
  width: 80px;
  float: left;
  height: 100%;
  border: 1px solid #DEDEDE;
  font-size: 14px;
  color: #666666;
}
.sclb .lb-z-feny .lb-z-tob {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  line-height: 40px;
  color: #EBEBEB;
  letter-spacing: 1px;
}
.sclb .lb-z-feny .lb-from {
  float: left;
  font-size: 14px;
}
.sclb .lb-z-feny .lb-from .text {
  float: left;
  color: #bebebe;
  line-height: 40px;
}
.sclb .lb-z-feny .lb-from input {
  width: 40px;
  float: left;
  height: 25px;
  display: inline-block;
  margin-top: 8px;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  line-height: 25px;
  border: 1px solid #DEDEDE;
  outline: none;
}
.sclb .lb-z-feny .lb-from .lb-bnt {
  display: inline-block;
  width: 40px;
  height: 25px;
  margin-top: 8px;
  background: #fff;
  margin-left: 4px;
  font-size: 12px;
  border: 1px solid #DEDEDE;
  text-align: center;
  line-height: 25px;
}
/*# sourceMappingURL=sclb.css.map */
