     		<div class="z-cj">
     		<div class="c-tr">
     			<div class="container">
     				<div class="na-l">
     					<img class="img2" src="../images/logo.png"/>
     					<div class="mh">
     					 
     					<div class="ss-k">
     						<input type="text" placeholder="请简单描述您的问题或问题关键词" />
     					</div>
     					<div class="sc-an"><img src="../images/ss-an.png"/></div>  
     					</div>  					
     					
     				</div>
     			</div>
     		</div>
</div>
			
			
			<div class="container">
				<div class='kp'>
					<div class="lef-b">
						<h4>常见问题</h4>
						<div class="mad" id="ul">
							<li><span>账号密码</span>
								<div class="wr">
									<pa>注册</pa>
									<pa>登录</pa>
									<pa>验证</pa>
									<pa>密码</pa>
									<pa>注销</pa>
								</div>
								
							</li>
							<li><span>我是卖家</span><div class="wr">
									<pa>注册</pa>
									<pa>登录</pa>
									<pa>验证</pa>
									<pa>密码</pa>
									<pa>注销</pa>
								</div></li>
							<li><span>我是买家</span><div class="wr">
									<pa>注册</pa>
									<pa>登录</pa>
									<pa>验证</pa>
									<pa>密码</pa>
									<pa>注销</pa>
								</div></li>
							<li><span>旺铺操作指南</span>
								<div class="wr">
									<pa>注册</pa>
									<pa>登录</pa>
									<pa>验证</pa>
									<pa>密码</pa>
									<pa>注销</pa>
								</div>
							</li>
							<li><span>采购通会员服务</span>
								<div class="wr">
									<pa>注册</pa>
									<pa>登录</pa>
									<pa>验证</pa>
									<pa>密码</pa>
									<pa>注销</pa>
								</div>
							</li>
							<li><span>在线交易处理</span>
								<div class="wr">
									<pa>注册</pa>
									<pa>登录</pa>
									<pa>验证</pa>
									<pa>密码</pa>
									<pa>注销</pa>
								</div>
							</li>
							<li><span>维权举报 规则导航</span>
								<div class="wr">
									<pa>注册</pa>
									<pa>登录</pa>
									<pa>验证</pa>
									<pa>密码</pa>
									<pa>注销</pa>
								</div>
							</li>
						</div>
						
					</div>
					<div class="ri-f">
						<h4>注册</h4>
						<li><span>▪ &nbsp;注册时为什么要填手机号？</span><div>填写手机号码是为了方便您的客户与您联系，慧聪网站不会从您的手机扣除费用</div></li>
						<li>▪ &nbsp;注册账号时被提醒电子邮箱不正确怎么办？</li>
						<li>▪ &nbsp;慧聪的会员种类及极限？</li>
						<li>▪ &nbsp;注册时为什么要填手机号？</li>
						<li>▪ &nbsp;注册时为什么要填手机号？</li>
					</div>
				</div>
			</div>