	<!--foot-->
			<div class="foot">
				<div class="container f-t">
					<div class="ms">
						<li>友情链接:</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
						<li>物联网资讯</li>
					</div>
					<div class="f-zy">
						<span>同鑫建投网络科技有限公司</span>
						<div class="di">
							<li><img src="../images/dizhi.png" /><samp>北京市通州区万达广场B座2401室</samp></li>
							<li><img src="../images/dianhua.png" style="width:18px; height: 16px;" /><samp>010 5324 688</samp></li>
							<li><img src="../images/youjian.png" style="width:18px; height: 18px;" /><samp>email@tongxinbui.com</samp></li>
						</div>
					</div>
					<div class="bg">
						<span>网站地图</span>
						<div class="kla">
							<li>首页</li>
							<li>招标采购</li>
							<li>直采商城</li>
							<li>租赁平台</li>
							<li>运货通</li>
						</div>
						<div class="kla" style="float: right; margin-left: 10px;">
							<li>投融资</li>
							<li>项目分包</li>
							<li>知识库</li>
							<li>OA</li>
							<li>积分</li>
						</div>
					</div>

					<div class="bg-z">
						<span>关注链接</span>
						<div>
							<li style="margin-left: 0px;"><img src="../images/qq-fenxiang.png" /></li>
							<li><img src="../images/weibo.png" /></li>
							<li><img src="../images/weixing.png" /></li>
						</div>
					</div>
					
					<div class="as-d">
						<li>关于我们 ｜ </li>
						<li> &nbsp;联系我们  ｜ </li>
						<li>&nbsp;联系客服  ｜</li>
						<li>&nbsp;合作招商  ｜</li>
						<li>&nbsp;商家帮助  ｜</li>
						<li>&nbsp;营销中心 ｜</li>
						<li>&nbsp;友情链接  ｜</li>
						<li>&nbsp;销售联盟 ｜</li>
						<li>&nbsp;同鑫社区 ｜</li>
						<li>&nbsp;风险检测  ｜</li>
						<li>&nbsp;隐私政策  ｜</li>
						<li>&nbsp;English Stiidsd Us</li>
					</div>
					<div class="z-bs">
京公网安备 11002232388323号  ｜&nbsp;京ICP证070359号  ｜&nbsp;互联网药品信息服务资格证编号(京)-经营性-2014-0008  ｜&nbsp;新出发京零 字第大120007号
<br />
互联网出版许可证编号新出网证(京)字150号  ｜&nbsp;出版物经营许可证  ｜网络文化经营许可证京网文[2014]148-348号  ｜违法和不良信息举报电话：4002329923
<br />
Copring@2004-2007 版权所有  ｜消费者维权热线：010201020   &nbsp;&nbsp;经营证照
						</div>
					</div>
				</div>
