       	<div class="guowuche">	
       		<div class="c-tr">
     			<div class="container">
     				<div class="na-l">
     					<img class="img2" src="../images/logo.png"/>
     					<div class="ss-k">
     						<div class="sak" id="ssk">
     						<span id="sl">
     							<l id="lkk">商品</l><b></b>
     								</span>
     							<div class="sskx">
     								<l id="ll">求购</l>
     								<l id="lk">公司</l>
     							</div>
     					
     						</div>
     						<input id="inp" type="text" placeholder="搜索 同鑫 商品" />
     					</div>
     					<div class="sc-an"><img src="../images/ss-an.png"/></div>
     					</div>
     					<div class="sp-lb">
     					<div class="sma"><span>我的购物车</span><shu>(3)</shu></div>
     					<bnt>批量下单</bnt>
     					</div>
     					
     					<div class="mw">
     						<div class="pagt"><h></h><span>全选</span></div>
     						<li>货品</li>
     						<li>单价(元)</li>
     						<li>数量</li>
     						<li>金额(元)</li>
     						<li>操作</li>
     					</div>
     				<div class="wup">
     					<div class="wp-box">
     						<had><h></h><span>问题限新概念服装有限公司</span></had>
     						<div class="wupin">
     							<h></h>
     							<div class="img"></div>
     							<div class="wenzi">上海市卡撒撒看看看看卡萨萨摩萨卡撒颗洒落了拉萨市</div>
     							<span>≥100套:<jia>95.00</jia></span>
     							<div class="mp-a"><wq>－</wq><shul>20</shul><wj>+</wj></div>
     							<div class="cz">
     								<sp>删除</sp>
     								<sc>收藏</sc>
     							</div>
     						</div>
     						<div class="dib">
     						<div class="pagt"><h></h><span>全选</span></div>
     						<samp>删除选中的货品</samp>
     						<div class="r-bo">
     							<lp><mk>100</mk>件货品,共计(不含运费):<ja>￥9500.00元</ja></lp>
     							<que>确认下单</que>
     						</div>
     					</div>
     					</div>
     					<div class="wp-box">
     						<had><h></h><span>问题限新概念服装有限公司</span></had>
     						<div class="wupin">
     							<h></h>
     							<div class="img"></div>
     							<div class="wenzi">上海市卡撒撒看看看看卡萨萨摩萨卡撒颗洒落了拉萨市</div>
     							<span>≥100套:<jia>95.00</jia></span>
     							<div class="mp-a"><wq>－</wq><shul>20</shul><wj>+</wj></div>
     							<div class="cz">
     								<sp>删除</sp>
     								<sc>收藏</sc>
     							</div>
     						</div>
     						<div class="dib">
     						<div class="pagt"><h></h><span>全选</span></div>
     						<samp>删除选中的货品</samp>
     						<div class="r-bo">
     							<lp><mk>100</mk>件货品,共计(不含运费):<ja>￥9500.00元</ja></lp>
     							<que>确认下单</que>
     						</div>
     					</div>
     					</div>
     						<div class="wp-box">
     						<had><h></h><span>问题限新概念服装有限公司</span></had>
     						<div class="wupin">
     							<h></h>
     							<div class="img"></div>
     							<div class="wenzi">上海市卡撒撒看看看看卡萨萨摩萨卡撒颗洒落了拉萨市</div>
     							<span>≥100套:<jia>95.00</jia></span>
     							<div class="mp-a"><wq>－</wq><shul>20</shul><wj>+</wj></div>
     							<div class="cz">
     								<sp>删除</sp>
     								<sc>收藏</sc>
     							</div>
     						</div>
     							<div class="wupin">
     							<h></h>
     							<div class="img"></div>
     							<div class="wenzi">上海市卡撒撒看看看看卡萨萨摩萨卡撒颗洒落了拉萨市</div>
     							<span>≥100套:<jia>95.00</jia></span>
     							<div class="mp-a"><wq>－</wq><shul>20</shul><wj>+</wj></div>
     							<div class="cz">
     								<sp>删除</sp>
     								<sc>收藏</sc>
     							</div>
     						</div>
     						<div class="dib">
     						<div class="pagt"><h></h><span>全选</span></div>
     						<samp>删除选中的货品</samp>
     						<div class="r-bo">
     							<lp><mk>100</mk>件货品,共计(不含运费):<ja>￥9500.00元</ja></lp>
     							<que>确认下单</que>
     						</div>
     					</div>
     					</div>
     				</div>
 
     			</div>
     		</div>   
     		</div>