<div class="con">
	<div class="cty">
		<div class="boende">

			<img src="../images/Z-LO.png" /> 
<div class="div">欢迎登录</div>
			<div class="mer">
				<p>客服热线 <samp>400-3636-4534</samp></p>
				<span>工作时间 8:00-19:00</span>

			</div>
		</div>
		<div class="ban">
			<img src="../images/loginbanner.png"/>
			
			<div class="login">
				<h3>同鑫会员登录</h3>
				<div class="form-group">
					<p>*<span>您的用户名或密码输入错误</span></p>
					<form class="form-signin">
						<div class="inpt">
							<i class="kop"></i>
							<input type="email"  class="control" placeholder="请输入您的账号">
						</div>
       <div class="inpt ypl">
							<i class="kop"></i>
							<input type="email"  class="control" placeholder="请输入您的密码">
						</div>
        <div class="box">
          <span>忘记密码</span> 
          <span class="text-right">立即注册</span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
				</div>
			</div>
		</div>
		<div class="fon">
			<center>
				<div class="as-d">
						<li>关于我们 | </li>
						<li>&nbsp;联系我们 | </li>
						<li>&nbsp;联系客服 |</li>
						<li>&nbsp;合作招商 |</li>
						<li>&nbsp;商家帮助 |</li>
						<li>&nbsp;营销中心|</li>
						<li>&nbsp;友情链接 |</li>
						<li>&nbsp;销售联盟 |</li>
						<li>&nbsp;同鑫社区 |</li>
						<li>&nbsp;风险检测  |</li>
						<li>&nbsp;隐私政策 </li>
					</div>
					<div class="z-b">
客服咨询热线： 11002232388323号(免长途费)｜&nbsp;投诉热线: 012-3434-45(工作时间：8:00-9:00) </div>
	<div class="z-b">
		版权所有 同鑫网  京ICP证010010号  广告经营许可证：京通工商工字第0000号
 </div>
<div class="z-b">
		Copring@2004-2007 版权所有  ｜消费者维权热线：010201020   &nbsp;&nbsp;经营证照
 </div>

						
			</center>
		</div>
	</div>
</div>