<div class="sclb">
	<div class="c-tr">
		<div class="container">
			<div class="na-l">
				<img class="img2" src="../images/logo.png" />
				<div class="ss-k">
					<div class="sak" id="ssk">
						<span id="sl">
     							<l id="lkk">商品</l><b></b>
     								</span>
						<div class="sskx">
							<l id="ll">求购</l>
							<l id="lk">公司</l>
						</div>

					</div>
					<input id="inp" type="text" placeholder="搜索 同鑫 商品" />
				</div>
				<div class="sc-an" ui-sref="index.lb"><img src="../images/ss-an.png" /></div>
				<div class="ks-cg">快速发布采购</div>
				<div class="sp-lb">
					<div class="sp-aa"><span>全部商品分类</span><img src="../images/分类.png" /></div>
					<div class="ol">
						<li style="margin-left: 0px;">招标采购</li>
						<li>直采商城</li>
						<li>易货平台</li>
						<li>租赁平台</li>
						<li>投融资</li>
						<li>项目分包</li>
						<li>知识库</li>
						<li>OA</li>
						<li>积分</li>
					</div>
				</div>
			</div>
			<div class="lb-z-a clearfloat">
				<span>全部结果>"<na>水管</na>"</span>
				<div class="lb-z-j clearfloat">
					<div class="lb-z-dh clearfloat">
						<k>全部商品：</k>
						<div class="lb-z-sp clearfloat">
							<li>楼宇建筑</li>
							<li>园区建设</li>
							<li>工业厂房</li>
							<li>农牧业设施</li>
							<li>交通建设</li>
							<li>石油及天然气项目</li>
							<li>开采项目</li>
							<li>市政工程</li>
							<li>其它建筑</li>
						</div>
					</div>
					<div class="lb-z-dh clearfloat">
						<k>品牌：</k>
						<div class="lb-z-sp">
							<li>楼宇建筑</li>
							<li>园区建设</li>
							<li>工业厂房</li>
							<li>农牧业设施</li>
							<li>交通建设</li>
							<li>石油及天然气项目</li>
							<li>开采项目</li>
							<li>市政工程</li>
							<li>其它建筑</li>
						</div>
						<div class="lb-z-bnt clearfloat">
							<div class="lb-z-k1">更多</div>
							<div class="lb-z-k2">+多选</div>
						</div>
					</div>
					<div class="lb-z-dh clearfloat">
						<k>高级选项：</k>
						<div class="lb-z-sp">
							<li>楼宇建筑</li>
							<li>园区建设</li>
							<li>工业厂房</li>
							<li>农牧业设施</li>
							<li>交通建设</li>
							<li>石油及天然气项目</li>
							<li>开采项目</li>
							<li>市政工程</li>
							<li>其它建筑</li>
						</div>
					</div>
					<div class="lb-z-dh clearfloat">
						<k style="width:108px">您是不是在找：</k>
						<div class="lb-z-sp">
							<li style="margin-left: 10px;">楼宇建筑</li>
							<li>园区建设</li>
							<li>工业厂房</li>
							<li>农牧业设施</li>
							<li>交通建设</li>
							<li>石油及天然气项目</li>
							<li>开采项目</li>
							<li>市政工程</li>
							<li>其它建筑</li>
						</div>
					</div>
				</div>

			</div>
			<div class="lb-z-h clearfloat">
				<div class="lb-z-aw clearfloat">
					<span>综合</span>
					<div class="lb-jg">价格</div>
					<div class="lb-jq">
						<input class="lb-zd" type="text" value="￥最低价" />
						<input class="lb-zg" type="text" value="￥最高价" />
					</div>
					<div class="lb-sz">
						<h>所在地区</h>
					</div>
					<div class="lb-sz">
						<h>经营模式</h>
					</div>
					<div class="lb-zx clearfloat">
						<div class="lb-z-zx clearfloat">
							<af></af><samp>在线交易</samp></div>
						<div class="lb-z-rz clearfloat">
							<af></af><samp>认证商家</samp></div>
					</div>
				</div>
				<div class="lb-z-q clearfloat">
					<div class="lb-z-lb">列表</div>
					<div class="lb-z-dt">大图</div>
					<div class="lb-z-hb">合并供应商</div>
					<div class="lb-z-ys">
						<n>
							<l>1</l>/100</n>
						<sy>
							<</sy>
								<x>></x>
					</div>
				</div>
			</div>
			<div class="lb-z-wp clearfloat">
				<div class="lb-z-lw clearfloat">
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
						</div>
					</div>
				</div>
				<div class="lb-z-rw clearfloat">
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
							<div class="lb-z-ko">
								<m>长沙市雨花...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
									<ns>2年</ns>
								</div>
							</div>
							<div class="lb-z-kq">
								<m>湖南省 长沙市高新技术...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
								</div>
							</div>
							<div class="lb-z-gm">我要购买</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
							<div class="lb-z-ko">
								<m>长沙市雨花...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
									<ns>2年</ns>
								</div>
							</div>
							<div class="lb-z-kq">
								<m>湖南省 长沙市高新技术...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
								</div>
							</div>
							<div class="lb-z-gm">我要购买</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
							<div class="lb-z-ko">
								<m>长沙市雨花...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
									<ns>2年</ns>
								</div>
							</div>
							<div class="lb-z-kq">
								<m>湖南省 长沙市高新技术...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
								</div>
							</div>
							<div class="lb-z-gm">我要购买</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
							<div class="lb-z-ko">
								<m>长沙市雨花...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
									<ns>2年</ns>
								</div>
							</div>
							<div class="lb-z-kq">
								<m>湖南省 长沙市高新技术...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
								</div>
							</div>
							<div class="lb-z-gm">我要购买</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
							<div class="lb-z-ko">
								<m>长沙市雨花...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
									<ns>2年</ns>
								</div>
							</div>
							<div class="lb-z-kq">
								<m>湖南省 长沙市高新技术...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
								</div>
							</div>
							<div class="lb-z-gm">我要购买</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
							<div class="lb-z-ko">
								<m>长沙市雨花...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
									<ns>2年</ns>
								</div>
							</div>
							<div class="lb-z-kq">
								<m>湖南省 长沙市高新技术...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
								</div>
							</div>
							<div class="lb-z-gm">我要购买</div>
						</div>
					</div>
					<div class="lb-z-sd">
						<div class="lb-z-img"><img src="../images/图层-746.png" /></div>
						<div class="lb-z-m">
							<ad>
								<jg>￥90.90</jg>/
								<ge>个</ge>
							</ad>
							<div class="lb-z-hot"><img src="../images/hot.png" /></div>
							<div class="lb-za-w">车旅伴(Car Buddy)家用洗车水枪 全铜喷枪</div>
							<div class="lb-z-ko">
								<m>长沙市雨花...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
									<ns>2年</ns>
								</div>
							</div>
							<div class="lb-z-kq">
								<m>湖南省 长沙市高新技术...</m>
								<div class="lb-z-hk">
									<xs></xs>
									<qr></qr>
								</div>
							</div>
							<div class="lb-z-gm">我要购买</div>
						</div>
					</div>
				</div>

			</div>
			<div class="lb-z-feny clearfloat">
				<div class="lb-z-syy">
					<div>上一页</div>
						<div class="lb-z-ui">
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>

						</div>
						<div class="lb-dot">...</div>
						<div class="lb-z-xyy">下一页></div>
						<div class="lb-z-tob">共100页，</div>
						<div class="lb-from clearfloat">
							<span class="text">到第</span>
							<input type="text" value="2" />
							<span class="text">页</span>
							<span class="lb-bnt">确定</span>
						</div>
				</div>
			</div>
		</div>

	</div>