    <div class="container-fluid">
     		<div class="container">
     			<!--头部-->
     			<div class="had clearfloat">
     				<div class="had-s"><a ui-sref="index.op">网站首页</a></div>
     				<div class="span">010-29323-23</div>
     				<div class="had-q" style="display: none;">亲，请您先<span>[登录]</span>免费<span>[注册]</span></div>
     				<div class="ha-b clearfloat">Hi 欢迎来到同鑫<span>rerw242</span><b>退出</b>
     					<div class="kld"><span>消息<sk>10</sk></span><span ui-sref="index.guo" style="cursor: pointer;">采购车<sk>99+</sk></span></div>
     				</div>
     				<div class="ul clearfloat" id="kehu">
     					<li style="margin-left: 0px;"><a href="#">手机同鑫<b></b></a>
     						<div class="kehu1">
							
						</div></li>
     					<li>
     						<a>帮助中心<b></b></a>
     						<div class="kehu1" id="kehu1">
							<span><r>采购帮助</r></span>
							<span><r>供应帮助</r></span>
							<span ui-sref="index.zhongxin"><r>常见问题</r></span>
							<span ui-sref="index.zx"><r>在线回答</r></span>
						</div>
     					
     				</li>
     				<li><a href="#">网站地图<b></b></a>
     					<div class="kehu1 km" style="right: 0px;">
     						<div class="ma-s">
     						<h4>特色市场</h4>
							<ks>首页</ks>
							<ks>搜索</ks>
							<ks>供应</ks>
							<ks>求购</ks>
							<ks>产品门户</ks>
							<ks>企业大全</ks>
							<ks>搜搜</ks>
							<ks>手机站</ks>
							<ks>极速版</ks>
							<ks>产业带</ks>
     						</div>
							<div class="ma-s">
     						<h4>专业市场</h4>
							<ks>首页</ks>
							<ks>搜索</ks>
							<ks>供应</ks>
							<ks>求购</ks>
							<ks>产品门户</ks>
							<ks>企业大全</ks>
							<ks>搜搜</ks>
							<ks>手机站</ks>
							<ks>极速版</ks>
							<ks>产业带</ks>
							<ks>产品门户</ks>
							<ks>企业大全</ks>
							<ks>搜搜</ks>
							<ks>手机站</ks>
							<ks>极速版</ks>
							<ks>产业带</ks>
     						</div>
							
						</div>
     				</li>
     				</div>
     			</div>
     		</div>
     		<div ui-view></div>
</div>