
     		<div class="bangzhu">
     		<div class="c-tr">
     			<div class="container">
     				<div class="na-l">
     					<img class="img2" src="../images/logo.png"/>
     					<div class="mh">
     					 <div class="sp-t">
     					 	<div class="sp-yy">1</div>
     					 </div>
     		                <div class="sp-t">
     					 	<div class="sp-yy">2</div>
     					 </div>
     					  <div class="sp-t">
     					 	<div class="sp-yy">3</div>
     					 </div>
     					  <div class="sp-t">
     					 	<div class="sp-yy">4</div>
     					 </div>
     					  <div class="sp-t">
     					 	<div class="sp-yy">5</div>
     					 </div>
     					  <div class="sp-t yt">
     					 	<div class="sp-yy">6</div>
     					 </div>
     					</div>  					
     					
     				</div>
     				<div class="sp-k clearfloat">
     			<div class="col-md-12 sp-r">
				<div class="col-md-3 pj">订单评价</div>
				<div class="col-md-5 text-right sz">订单编号：899898989</div>
				<div class="col-md-4 text-right sz"><span>2017-29-11</span><span>10:39:40</span></div>
			     </div>
			     <div class="sp-pq">
			     	<div class="col-md-4" style="border-right:1px solid #DEDEDE; height: 160px; padding-top: 20px;">
					<!--<img src="" alt="" /><-->
						<div style="height: 120px;float: left;width: 120px;display: inline-block;background: yellow;">图片</div>
						<div class="sp-x" >
						<h4>配送服务</h4>
						<p>皮皮虾 <span>13812763903 </span></p>
						<p>德邦物流员工</p>
						</div>
				</div>
				<div class="sp-gh">
					<div class="col-md-12">
						<p class="col-md-12">请填写配送价格</p>
						<p class="col-md-6"><zi>商品完成度</zi>
							<qw>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</qw><samp>80分</samp>
						
						</p>
						<p class="col-md-6"><zi>送货速度</zi>
							<qw>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</qw><samp>80分</samp>
						
						</p>
					</div>			
				</div>
			     </div>
			     	     <div class="sp-pq" style="height: 220px; ">
			     	<div class="col-md-4" style="border-right:1px solid #DEDEDE; height: 220px; padding-top: 20px;">
					<!--<img src="" alt="" /><-->
						<div style="height: 120px;float: left;width: 120px;display: inline-block;background: yellow;border:1px solid #DEDEDE;">图片</div>
						<div class="sp-x" >
						<h4>配送服务</h4>
						<p>皮皮虾 <span>13812763903 </span></p>
						<p>德邦物流员工</p>
						</div>
				</div>
				<div class="sp-gh" style="margin-top: 15px;">
					<div class="col-md-12">
						<p class="col-md-12">请填写配送价格</p>
						<p class="col-md-6"><zi>商品完成度</zi>
							<qw>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</qw><samp>80分</samp>
						
						</p>
						<p class="col-md-12"><zi>商品完成度</zi>
							<textarea></textarea>
						
						</p>
					</div>			
				</div>
				
			     </div>
			     <div class="bnt">
			     	<div class="sp-kw">提交</div>
			     </div>
     				</div>
     				
     			</div>
     		</div>
                   </div>
			
		
	