
	<div class="c-tr">
		<div class="container">
			<div class="na-l">
				<img class="img2" src="../images/logo.png" />
				<div class="ss-k">
					<div class="sak" id="ssk">
						<span id="sl">
     							<l id="lkk">商品</l><b></b>
     								</span>
						<div class="sskx">
							<l id="ll">求购</l>
							<l id="lk">公司</l>
						</div>

					</div>
					<input id="inp" type="text" placeholder="搜索 同鑫 商品" />
				</div>
				<div class="sc-an" ui-sref="index.lb"><img src="../images/ss-an.png" /></div>
				<div class="ks-cg">快速发布采购</div>
				<div class="sp-lb">
					<div class="sp-aa"><span>全部商品分类</span><img src="../images/分类.png" /></div>
					<div class="ol">
						<li style="margin-left: 0px;">招标采购</li>
						<li>直采商城</li>
						<li>易货平台</li>
						<li>租赁平台</li>
						<li>投融资</li>
						<li>项目分包</li>
						<li>知识库</li>
						<li>OA</li>
						<li>积分</li>
					</div>
				</div>
			</div>
				
					<ul class="list2">
						<li>交易平台</li>
						<li>>>xxxx</li>
						<li>>>xx</li>
					</ul>
				<div class="fdj">
					<div class="fdj-le">
						<div class="img1">
						
						</div>
						<div class="img1x"></div>
					</div>
					<div class="fdj-rt">
						<div class="txwj">【同鑫五金】直销方管 20*20*0.8-2.0 镀锌带方管 方管生产厂家</div>
						<p>
							<span>
								价格
							</span>
							<span>
								￥3650.00
							</span>
						</p>
						<div class="box1">
							<ul class="gy">
								<li>供应总量</li>
								<li>发货期限</li>
								<li>运费说明</li>
								<li>订购数量</li>
							</ul>
							<ul class="gyb">
								<li>4000 吨</li>
								<li>面议</li>
								<li>本溪发货 卖家承担运费</li>
							</ul>
							<div class="clear"></div>
							<div class="tb_one">
								<ul class="th1">
									<li >起订量(吨)</li>
									<li>>1</li>
								</ul>
								<ul class="th2">
									<li >产品价格</li>
									<li>￥3650</li>
								</ul>
								<ul class="th3">
									<li >采购量</li>
									<li >
										<div class="jiajian">
											<span>-</span>
											<span>+</span>
											1
										</div>
									</li>
								</ul>
							</div>
							<ul class="list-zj">
								<li>总价</li>
								<li>交易保障</li>
							</ul>
							<div class="clear"></div>
							<div class="pay1">
								<div>
									<span>￥3650.00 <b> <span>|</span> 共 1 吨</b></span>
								</div>
								<div>
									<span>立即订购</span>
									<span>加入购物车</span>
									<span>查看联系方式</span>
								</div>
								<div>
									<span>支付方式</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--页面下部-->
				<div class="xb1">
					<div class="boxle1">
						<div class="list11">
							<div>
								<b>店铺信息</b>
							</div>
							<div>
								<b>北京同鑫建投网络科技股份有限公司</b>
								<i></i>
							</div>
							<div>
								<li>商家信用等级</li>
								<li>所在地区：<span>北京通州区</span> </li>
								<li>认证信息：<span>xxxxxxx</span> </li>
								<li>服务信息：</li>
							</div>
							<div>
								<div>进入店铺</div>
								<div>咨询</div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="list22">
							<div><b>本店其他产品</b>
								
							</div>
							<div>
								<dl class="d1">
									<dt></dt>
									<dd>唐山长虹 河北泽田 节水科技 滴灌带厂</dd>
									<span>￥1000.00</span>
								</dl>
								<dl class="d2">
									<dt></dt>
									<dd>唐山长虹 河北泽田 节水科技 滴灌带厂</dd>
									<span>￥1000.00</span>
								</dl>
							</div>
						</div>
					</div>
					<div class="xrg">
						<ul>
							<li class="bluechenge">基本参数</li>
							<li>商品详情</li>
							<li>商品评价</li>
						</ul>
						<div class="listbox1">
							<ul>
								<li>包装尺寸：</li>
								<li>壁厚：</li>
								<li>材质：</li>
								<li>产地/产商</li>
								<li>拉伸强度：</li>
								<li>每件重量：</li>
								<li>内径：</li>
								<li>外径：</li>
								<li>用途：</li>
								<li>种类：</li>
								<li>品牌：</li>
								
							</ul>
							<ul>
								<li>888 mm</li>
								<li>3mm</li>
								<li>pvc</li>
								<li>河北唐山</li>
								<li>999</li>
								<li>666 g</li>
								<li>66 mm</li>
								<li>88 mm</li>
								<li>给水管</li>
								<li>upvc管</li>
								<li>长虹</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
</div>